@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@400;600&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}
.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.img img{
	width: 500px;
}

form{
	width: 560px;
}

.login-content{
	display: flex;
	align-items: center;
	text-align: center;
}


.login-content h2{
	font-family: 'Allison', cursive;
	font-family: 'Dancing Script', cursive;
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.8rem;
	padding-top: 20px;
}
.login-content h1{
	font-family: 'Allison', cursive;
	font-family: 'Dancing Script', cursive;
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 1.6rem;
	padding-top: 20px;
	padding-left: -15px;
}

.login-content input, .login-content textarea{
    width:80%;
    padding: 10px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}
.login-content div{
	padding-left: 180px;
}
.login-content:hover input, .login-content:hover textarea{
	background-color: rgb(245, 244, 244);
}
.btn{
	display: block;
	width: 50%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
}

